<%= render partial: 'shared/navigation', locals: { pagination: true } %>

<section class="content">
  <article>
    <div class="date"><%= @page.entry.published_date %></div>

    <%= image_tag(@page.entry.image_name, class: 'map') unless @page.entry.image_name.blank? %>
    <div class="seemap"><a target="_blank" href="https://www.google.com/maps/d/edit?mid=zJxL2RhuJQBc.kAzdI1yI3YAA">full map</a></div>

    <%= @page.entry.body_markdown %>
  </article>

  <%= render partial: 'pagination' %>


</section>

<div class="copyrightnotice"><small>&copy; The estate of Otto Feldmann: Monica Lanyado, Tzafrah Shushan and Aya Shochat</small></div>
