<section class="sidebar">
  <nav>
    <ul>
      <li class="main-link"><%= link_to 'Home', root_path %></li>
      <li class="main-link"><%= link_to 'Before the War', before_the_war_path, class: (action_name == 'who_is_otto' ? 'active' : '') %></li>
      <li class="main-link"><%= link_to 'After the War', after_the_war_path, class: (action_name == 'after_the_war' ? 'active' : '') %></li>
      <li class="main-link"><%= link_to 'Excerpts', excerpts_path, class: (action_name == 'excerpts' ? 'active' : '') %></li>
      <li class="main-link"><%= link_to 'Gallery', gallery_path, class: (controller.controller_name == 'galleries' ? 'active' : '') %></li>
      <li class="main-link"><a target="_blank" href="http://www.amazon.co.uk/gp/product/B00OI77KEU">Kindle edition</a></li>
      <li class="main-link"><%= link_to 'Credits & Copyright', credits_path, class: (controller.controller_name == 'credits' ? 'active' : '') %></li>

      <%= render partial: 'shared/dates' %>
    </ul>    
  </nav>
</section>
