<% content_for :title do %>Before the War<% end %>

<% content_for :body do %>
  <div class="imagepack">		
    <%= image_tag('otto-family.jpg', width: '80%') %>
    <div class="subtitle">Otto & Else Feldmann, and their daughters Edith and Liese</div>
  </div>


  <p>Otto was born on the 10th of April 1881 to Julius and Freida Feldmann in the city of Troppau (Opava), then the capital of Austrian Silesia.  He had two brothers, Hugo and Victor, and a sister Gusti.  In an age of indistinct cultural borders, the family were assimilated Jews, living in a German-speaking region of the Austro-Hungarian Empire that would later become Czechoslovakia and then the Czech Republic.</p>

  <div class="imagepack">   
    <%= image_tag('chemist.jpg', width: '80%') %>
    <div class="subtitle">Otto stufying chemistry in Bielitz</div>
  </div>

  <p>Otto was an idealist who saw the best in everyone, and had many good friends. He studied chemistry at Bielitz (Bielsko) University and specialized in foodstuffs. In December 1903 he sailed to Cuba to learn about how sugar was manufactured from cane, and lived there, carrying out his research, for several years.</p>

  <p>When he left for Cuba he had already met his wife-to-be, Else Kranz (21.8.1883), whilst studying in Bielitz. Her parents ran a student restaurant and they fell in love over dumplings, sauerkraut and whipped cream. It was a very well behaved romance of the time - courteous and adoring. When Otto went to Cuba, their love blossomed through letters which became more intimate and less formal as the years went by.  

    <div class="imagepack">   
    <%= image_tag('letter.jpg', width: '80%') %>
    <div class="subtitle">A letter sent from Cuba from Otto to Else</div>
  </div>

  <p>They married on 6th January 1909  and moved to Breslau, one of the biggest Jewish communities in Germany. Their daughters Liese and Edith were born there in 1910 and 1911 respectively.</p>

  <div class="imagepack">   
    <%= image_tag('certificate.jpg', width: '80%') %>
    <div class="subtitle">Otto and Else's wedding invitation</div>
  </div>

  <p>As an Austrian national, Otto joined the Austro-Hungarian Army as an officer upon the outbreak of war in 1914 – thinking, as did millions of others, that the conflict would be over within months.  Else returned to live with her mother’s parents in Bielitz - their family owned a large mill which had plenty of room for her and her two daughters. Throughout the war, they stayed at the mill. Else was one of five sisters - two of whom helped look after the children as Else worked to bring in additional income.</p>

  <div class="imagepack">   
    <%= image_tag('family.jpg', width: '80%') %>
    <div class="subtitle">A picture of Else with Edith, Liese & Kurt, sent to Otto in a Siberian POW camp</div>
  </div>

  

  <p>Else was pregnant when Otto went to the front.  Their son Kurt was born in Bielitz on 22nd April 1915, and would not meet his father until he was six. Otto returned in the Spring of 1920 as a hero, part of the historic Czech Legion’s return to the newly formed country of Czechoslovakia.</p>

  <p>It was Otto’s ability to put his feelings and experiences into ‘letters she never received’, written in a mathematical notebook which he hid throughout his ordeals, that helped him to survive those terrible years on the Eastern front and in prisoner of war camps.</p>

  <div class="imagepack">   
    <%= image_tag('diaryitself.jpg', width: '80%') %>
    <div class="subtitle">Otto's diary</div>
  </div>

  <small>&copy; The estate of Otto Feldmann: Monica Lanyado, Tzafrah Shushan and Aya Shochat</small>
<% end %>
