<% content_for :title do %>Otto's Diary: Excerpts<% end %>

<% content_for :body do %>

<div class="excerptheader">
	Bound for war, Krakow, 1914:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>Thousands and thousands wagons and carts carrying all sorts of war materials, food supplies, ill and wounded troops were passing us in 3-4 columns while we marched laboriously through sand and clay over the fields. At this occasion I saw for the first time a major casualty; a very young lieutenant of the 10th Dragoon regiment, white like freshly fallen snow, head and arm bandaged, bedded on straw, was driven past us on a peasants cart. I will never forget that sight. It felt as if an ice-cold hand had touched me. At that moment I for the first time fully realized that I was going to war.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/1">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Attacking the enemy, eastern Poland, 1914:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>At 8 o’clock a general attack began against the enemy front. My company was moving in the direction to the edge of a forest. Again I had a creepy feeling as a new chapter in the conduct of war was about to open for me; attacking the enemy with cold steel. Bullets were whistling around us like a swarm of bees, men were falling right and left but we had not time and without a stop we went ahead.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/3">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Captured in eastern Poland, 1914:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>When crossing the Nieda, we were three times wading through water that reached up to our hips and our clothes were frozen stiff on us. My company was ordered into a second attack that bordered on foolhardiness; almost my whole company remained dead or wounded on the ground and I have only to thank a corporal and a servant for my life. My good Karnovsky twice snatched away the revolver which had already found its way to my temple.<br/><br/>

All day through the fighting was ferocious; in the locality behind us every single house was on fire, the dead were lying in heaps together, and exactly at midnight the Russians attacked from three sides and we were captured.  I did my duty till the last moment, I fought till the final minute and I have the reassuring feeling that I did everything I could for my Fatherland.
Often, while the bullets were whistling around me, I wished for a saving wound. I became aware that I was directly exposing myself so as to “catch one”. I did not know fear, only duty and responsibility. I arrived at the opinion that it was impossible to escape from this witches cauldron, that this monstrous war will not release anybody whom it has taken hold of. I always thought of you and the children, also at moments of weakness, and each time when I saw a father fall I wiped off a tear since surely my turn would come soon.<%= image_tag('quotedown.png') %></p>
<div class="fullentry"><a target="_blank" href="/entries/5">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Arriving at Shkotovo POW camp, 1915:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>The surrounding landscape is marvellous. A few hundred steps away we see the expanse of the sea presently still covered by ice. The view of the bay formed by bare, wild, romantic cliffs is unforgettable. However, all this we see only from a distance since we are prisoners. Round our barracks is a high wooden fence, guards with fixed bayonets stand at the gates, we are allowed to go for walks only in this limited space.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/11">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Disease in the camps, 1916:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>About 5000 men are quartered here, Germans, Austrians, Hungarians and Turks, and among these, two cruel diseases have broken out. Typhoid fever and typhus claim numerous victims daily. Is it not the most gruesome fate imaginable to die here in misery after one has been spared by the bullets? How many have been carried out already to the graveyard, there on the hill above the sea. Do not those ill - fated men die a double or triple death? How many, who already confidently hoped to see their loved ones again, are now dying defenseless with a curse on their lips against those who sent them into this misery.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/12">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Pining for his wife, 1916:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>And now, when the cruel breath of history has separated us by thousands of miles, even if we have to wait for long weeks before we are reunited, I cannot give up the belief that we shall be together again. In the field I have already done my duty in battle, I have many times seen death and met it with defiance, I always valued my duty to my Fatherland higher than my life although I am tied to life by such precious fetters. But God's will saved me in the rain of bullets. And so I sit here hoping, fearing and pining but always supported by my trust in God. Disease is all around me, there is not space enough anymore for all the ailing, any minute I can be thrown down on the hopeless sick bed, feverish fantasies are tearing my brain, but my hope that we shall be reunited will not be destroyed. My love, be brave, I shall thank you for it by my unquenchable love and devotion.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/18">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Shkotovo POW camp:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>One's mind has become so numb, one lives just for the food and the hope. We, the dead who have survived by chance. Only two feelings remain strong in me; hope and yearning.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/2">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	News of the Russian Revolution reaches the camps, 1917
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>We live now through the historical days of March. In this unique world war a new shock wave goes through the world: coup-d'etat, revolution. We are right in the middle of it but we still stand aside. We have a new proof that the wooden fence separates us from the world. We are all inspired by a single thought: will these new events bring the longed for peace to the world? We hope so. Yesterday, it was a Sunday, much was happening in the town, the prison was taken by storm, the prisoners were freed and meetings were held. A small wave reached even our fence. The crowd came to our fence, many hundreds of people carrying red flags, calling and shouting. The call "Mir" (peace) was frequently heard. Speeches were made, Liberty, Equality and Fraternity were extolled. Yesterday I was a prisoner of the Tsar, today I have become a prisoner of the Russian Republic.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/62">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	With the Czech legion, homeward, fleeing  the Russians, 1920:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>As you know from my sporadic messages from Kansk, I have been working since June 1919 as pharmacist for the Czech Legion. On 13th Jan, we left Kansk - the beginning of the evacuation.Very briefly, at first everything went reasonably well, but when we were passing Nizhne-Vdinsk fighting broke out with "the reds" and on 29th January the long wished -for evacuation almost came to a catastrophic end. Nobody, who did not see it with his own eyes, can form a picture of it in his mind. Thousands of men in the cruel Siberian frost, fleeing on foot along the railway tack and behind them the vicious enemy. Shortages of water, coal and of good will among the railway personnel brought us often into critical situations. We had to push the train, in the true sense of the word, over distances which were kilometers long, once our engine froze up on the open track, but we got through; when in mid February a truce was agreed everybody breathed a sigh of relief. I have to survive a hard test of my patience yet, but everything is easy to endure because: I am going home.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/70">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	In China:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>The arriving train was stormed by Chinese traders. With a lot of noise they were offering silk, cigarettes, fruit, pastries and God knows what else for sale.
The whole Manchurian section of the East-Siberian railway is presently under Chinese control. Chinese troops occupy the station buildings. We are on neutral ground and have survived the unrest and fighting of Siberia. Immediately after the doctor's round I went out to see it. New images, new life. What is on offer at the bazaar is simply indescribable. The Chinese are very wily and very crafty. There are 4 -5 kinds of currency in circulation here: Siberian, Tsarist (Nikolaevski), Mongolian, Japanese, Chinese and some sub-sorts. Tsarist money commands a high exchange rate and I have 350 roubles Nikolaevski, - but more than half of that is "lamajla"-broken, which means it is folded in the middle or in a corner and the Chinese do not accept it. I also have some Siberian money but that is almost worthless, I had to pay 175 roubles for a bath in a tub.<%= image_tag('quotedown.png') %></p>
<div class="fullentry"><a target="_blank" href="/entries/72">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Sailing across the Pacific, from Vladivostok to Vancouver, 1920:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>I have been on board the steam ship "Drotesilans" for six days already, and only today am I reaching for my book. After all the delays it is true now: I am travelling home. We are sailing quite near the Bering Strait and close below Alaska. In about 16 hours we shall have done half the distance to Vancouver. Tomorrow or the day after we shall pass the 180 degree meridian where the time difference between the earth's east and west half spheres is compensated for and we must, therefore, count that day and date twice.<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/76">full entry</a></div>
</div>
<div class="excerptdivider">
	---------------------------
</div>

<div class="excerptheader">
	Europe in sight, 1920:
</div>  
<div class="excerpt">
	
	<p><%= image_tag('quoteup.png') %>Today I have to write to you, however bad the distraction be. This afternoon at 5 o'clock we saw from far away the English coast! Europe!! I had almost despaired of ever reaching it again and now I am here. I am returning to my little wife, to my bride. Within four walls I want to embrace you all for the first time, to hug and kiss you. I was strong enough to withstand the misery of the past six years, now I fear that I am too weak to be able to bear the happiness of the coming days. My little mouse! I am coming!<%= image_tag('quotedown.png') %></p>
	<div class="fullentry"><a target="_blank" href="/entries/74">full entry</a></div>
</div>

<div class="copyrightnotice"><small>&copy; The estate of Otto Feldmann: Monica Lanyado, Tzafrah Shushan and Aya Shochat</small></div>

<% end %>

